
<li>
  <%= comment.input %>

<% if comment.url.present? %>
  <iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= comment.url %>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
  <% end %>


<%= link_to like_comment_path(comment), class:"like-btn", method: :put, remote: true do %>
      <span><p><i id="comment-<%= comment.id%>-icon" class="<%= current_user.liked?(comment) ? "fas" : "far" %> fa-heart"></i></p></span>
      <span class="likes-count" id="comment-<%= comment.id%>-text"> <%= comment.get_upvotes.size %> </span>
<% end %>

 <% if comment.user == current_user %>

      <%= link_to 'edit', edit_comment_path(comment.id)%>

    - <%= link_to 'delete', comment_path(comment),
              method: :delete,
              data: { confirm: "Are you sure?" }%>
<% end %>
</li>

  <%= simple_form_for [comment, Comment.new] do |f| %>
    <%= f.input :input, :label => "Answer"%>
    <%= f.input :url, :label => "YouTube Url"%>

    <%= f.submit "answer", class: "btn btn-outline-dark" %>
  <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments.sort_by{|co| co.get_upvotes.size }.reverse  %>
  </ul>
</li>


