
<li>
  <%= comment.input %>
 <%= comment.votes_for.size %>
<%= link_to like_comment_path(comment), class:"like-btn", method: :put, remote: true do %>
    <button class="btn btn-warning">
      <span><p><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></p></span>
    </button>
<% end %>
 <% if comment.user == current_user %>
<span class="likes-count" id="comment-<%= comment.id%>"> <%= comment.get_upvotes.size %> </span>
      <%= link_to 'edit', edit_comment_path(comment.id)%>

    - <%= link_to 'delete', comment_path(comment),
              method: :delete,
              data: { confirm: "Are you sure?" }%>
    <% end %>
  </li>

  <%= simple_form_for [comment, Comment.new] do |f| %>
    <%= f.input :input, :label => "Answer"%>
    <%= f.submit "answer", class: "btn btn-outline-dark" %>
  <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments.sort_by{|co| co.get_upvotes.size }.reverse  %>
  </ul>
</li>

