<div><%= song_request.input %>
<%= song_request.song_file.attached? %>
<% if song_request.song_file.attached? %>
</div>
  <%= audio_tag(rails_blob_path(song_request.song_file, disposition: "attachment"), controls: true) %>
<% end %>



<%= simple_form_for [song_request, Comment.new] do |f| %>
  <%= f.input :input %>
  <%= f.submit "add a comment", class: "btn btn-primary" %>
<% end %>



<ul>
  <%= render partial: 'comments/comment', collection: song_request.comments %>
</ul>

