<div class="sr-header">
  <h3 id="h3inline"><%= song_request.input %></h3>
  <span class="edit-delete">
<%= link_to song_request_favorites_path(song_request),
        method: :post, remote: true do %>
        <i id="favSg-<%=song_request.id%>" class="<%= current_user.favorites.find_by(song_request: song_request).present? ? "fas" : "far" %> fa-star"></i>
<% end %>
<% if song_request.user == current_user %>
  <%= link_to 'edit', edit_event_song_request_path(@event.id, song_request.id) %>
  - <%= link_to 'delete', song_request_path(song_request),
                    method: :delete,
                    data: { confirm: "Are you sure?" }%>
<% end %>
  </span>
</div>

<% if song_request.song_file.attached? %>

  <%= cl_video_tag(song_request.song_file.key , :controls => true,
              :fallback_content => "Your browser does not support HTML5 video tags.",
              :class =>"video-styling" )%>
<% end %>


<div>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse-<%= song_request.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
      Comment
    </a>
  </p>
    <div class="collapse"id="collapse-<%= song_request.id  %>">
      <%= simple_form_for [song_request, Comment.new] do |f| %>
        <%= f.input :input, :label => "Comment"%>
        <%= f.input :url, :label => "YouTube  Url"%>

        <%= f.submit "add a comment", class: "btn btn-outline-dark"%>
      <% end %>
    </div>
</div>

<% if song_request.user == current_user && song_request.comments.present? %>
  <%= link_to solved_song_request_path(song_request), method: :patch, remote: true do %>
    <% if song_request.solved == true  %>
       <i id= "song_request-<%=song_request.id%>" class="fas fa-check" style = 'color:green' ></i>
    <% else %>
      <i id= "song_request-<%=song_request.id%>" class="fas fa-check" style = 'color:red'></i>
   <% end %>
  <% end %>
<% end %>

<%= render partial: 'comments/comment', collection: song_request.comments.sort_by{|co| co.get_upvotes.size}.reverse %>


