<div><%= song_request.input %>
<% if song_request.song_file.attached? %>
</div>
  <%= audio_tag(rails_blob_path(song_request.song_file, disposition: "attachment"), controls: true) %>
<% end %>

     <% if song_request.user == current_user %>
      <%= link_to 'edit', edit_event_song_request_path(@event.id, song_request.id)%>
    - <%= link_to 'delete', song_request_path(song_request),
              method: :delete,
              data: { confirm: "Are you sure?" }%>
    <% end %>
<%= simple_form_for [song_request, Comment.new] do |f| %>
  <%= f.input :input %>
  <%= f.submit "add a comment", class: "btn btn-outline-dark" %>
<% end %>

<% if song_request.user == current_user %>
<%= link_to solved_song_request_path(song_request), method: :patch do %>
  <% if song_request.solved == true  %>
     <i class="fas fa-check" style = 'color:green' ></i>
  <% else %>
    <i class="fas fa-check" ></i>
  <% end %>
<% end %>
<% end %>

<ul>
  <%= render partial: 'comments/comment', collection: song_request.comments.sort_by{|co| co.get_upvotes.size}.reverse %>
</ul>


