<div>
<h1>Add your song request</h1>
</div>
<%= simple_form_for [@event, @song_request]  do |f| %>
  <%= f.input :input %>
<%= f.label "Audio File" %>
<%= f.file_field :song_file %>
<%= f.submit "submit track" %>
<% end %>

<%= link_to "Back", root_path%>
