
<div class="page-container">
  <div class="cards">
    <div class="home-card">
      <%= image_tag "ANY1logo.png", alt:"logo", class: 'logo'%>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="home-card">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
</div>

