<div class="container">
  <div class="background-card">
    <div class="cards-create">
    <h1 id="h1create">Events</h1>
        <% @events.each do |event| %>
        <%= link_to event.name,  event_path(event) %> - <%= event.location %>, <%= event.city %> -
          <% if event.user == current_user %>
            <%= link_to 'edit', edit_event_path(event)%>
            <%= link_to "delete", event_path(event),
                  method: :delete,
                  data: { confirm: "Are you sure?" }%>
                  <% end %>
        <% end %>

<br>
<%= link_to "Add a new event", new_event_path, class: "btn btn-add"%>
<br>
    </div>
  </div>

</div>
