
  <h1>Current/Past Events</h1>
  <div class="cards">
    <% @events.each do |event| %>
    <li><%= event.name %></li>
    <li><%= link_to event.name,  event_path(event) %></li>
    <li><%= link_to "delete", event_path(event), method: :delete  %></li>
    <% end %>
  </div>

<!--  -->


<%= link_to "Add a new event", new_event_path %>

<%= form_tag events_path, method: :get do %>
<%= text_field_tag :query,
params[:query],
class: "form-control",
  placeholder: "Find an event"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
