<h1>Events#index</h1>

<h2>Add an event<h2>
  <%= simple_form_for @event do |f| %>
    <div class="eventsub">
      <%= f.input :name %>
      <%= f.input :location %>
       <%= f.input :artist %>
      <%= f.input :date %>
    </div>
    <div class="submit"></div>
    <%= f.submit "Submit event", class: 'btn-btn ghost' %>
  <% end %>
</div>

<div class="cards">
  <% @events.each do |event| %>
    <%= link_to event.name,  event_path(event) %>
  <% end %>
</div>


