<h1><%= @event.name %></h1>

<!-- collection: @event.song_requests  -->
<%= simple_form_for [@event, SongRequest.new] do |sg| %>
  <%= sg.input :input %>
  <%= sg.submit "add a song request", class: "btn btn-primary" %>
<% end %>



  <% @event.song_requests.each do |song_request| %>
    <h2><%= song_request.id %></h2>
    <%= render partial: 'song_requests/show', locals: {song_request: song_request} %>
  <% end %>


<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= @event.name %>
<%= @event.location %>
<%= @event.artist %>
<%= @event.date %>
<%= @event.user_id %>

