<h1><%= @event.name %></h1>

<%= simple_form_for [@event, SongRequest.new] do |sg| %>
  <%= sg.input :input %>
  <%= sg.submit "add a song request", class: "btn btn-primary" %>
<% end %>


<ul>
  <% @event.song_requests.each do |song_request| %>
    <h2><%= song_request.id %></h2>
    <%= render partial: 'song_requests/show', locals: {song_request: song_request} %>
  <% end %>
</ul>


<%= @event.name %>
<%= @event.location %>
<%= @event.artist %>
<%= @event.date %>
<%= @event.user_id %>

