
<div class="container">
  <h1 class="eventname"><%= @event.name %> - <%= @event.location %></h1>
  <h2 class="eventartist"><%= @event.artist %> - <%= @event.date.strftime("%d/%m/%Y %I:%M")%></h2>


  <%= simple_form_for [@event, SongRequest.new] do |sg| %>
    <%= sg.input :input %>
    <%= sg.submit "add a song request", class: "btn btn-primary" %>
  <% end %>


<div class ="form">
<h1 class ="header-text">Add your song request</h1>
</div>
<%= simple_form_for [@event, SongRequest.new] do |sg| %>
  <%= sg.input :input %>
  <%= sg.label "Audio File" %>
  <%= sg.file_field :song_file %>
  <%= sg.submit "submit track" %>
<% end %>



    <% @event.song_requests.sort_by{|sr| sr.comments.length}.reverse.each do |song_request| %>
      <h2><%= song_request.id %></h2>
          <%= link_to song_request_favorites_path(song_request),
                method: :post do %>
          <i class="<%= current_user.favorites.find_by(song_request: song_request).present? ? "fas" : "far" %> fa-star"></i>
          <% end %>



        <%= @event.song_requests.each do |song_request| %>

      <%= render partial: 'song_requests/show', locals: {song_request: song_request} %>
      <% end %>


    <%= link_to "Back to all events", events_path %>

</div>

