<div class="page-container">
  <div class="cards">
    <div class="event-show-card">
      <%= link_to root_path do %><%= image_tag "ANY1logo.png", alt:"logo", class: 'logo'%>
      <% end %>
    </div>
      <div class="event-show-card">
        <div class="marg-b">
          <h1 id="h1-title"><%= @event.name %> @<%= @event.location %>, <%= @event.city %></h1>
          <h2 id="h2-dates"><%= @event.date.strftime("%d/%m/%Y - %I:%M %p")%>, <%=@event.artist %></h2>
        </div>
        <div class="marg-b card-form">
        <%= simple_form_for [@event, SongRequest.new] do |sg| %>

          <%= sg.input :input, :label => "Find a track"%>
          <%= sg.file_field :song_file, class: 'd-none', id:'song-upload-field' %>

          <button id='song-upload'>Upload a file</button>
          <%= sg.submit "submit", class:"file-submit"%>
        <% end %>
        </div>
      <div class="sr-header">
        <% @event.song_requests.sort_by{|sr| sr.comments.length}.reverse.each do |song_request| %>
            <%= render partial: 'song_requests/show', locals: {song_request: song_request} %>
          <% end %>
      </div>
    </div>
  </div>
  </div>

<%= javascript_pack_tag "event-btn"  %>
