<div class="page-container">
  <div class="background-card">
    <div class="cards-create-2">
      <%= link_to root_path do %><%= image_tag "ANY1logo.png", alt:"logo", class: 'logo'%>
      <% end %>
      <h1>Profile page of <%= @username.capitalize %></h1>
      <div class="pro-request-details">
        <div class="title"> Song Requests </div>
        <div class="title"> Events </div>
        <div class="title"> Favorites </div>
      </div>
      <div class="pro-request-details">
        <div class="my-songs">
          <% @song_requests.each do |sr| %>
            <div class="pro-sr"><%= link_to sr.input, song_request_path(sr) %></div>
          <% end %>
        </div>
        <div class="my-events">
          <% @song_requests.each do |sr| %>
            <div class="pro-sr"><%= link_to sr.event.name, event_path(sr.event) %></div>
          <% end %>
        </div>
        <div class="favorites">
          <% current_user.favorites.each do |fav| %>
            <div class="pro-sr"><%= link_to fav.song_request.input, song_request_path(fav.song_request) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

