<div class="container">
  <div class="background-card">
    <div class="cards-create">
      <%= image_tag "ANY1logo.png", alt:"logo", class: 'logo'%>
      <h1>Profile page of <%= @username.capitalize %></h1>
        <div class="pro-request-details">
          <div class="title"> Song Requests </div>
          <div class="title"> Events </div>
          <div class="title"> Favorites </div>
        </div>
        <% @song_requests.each do |sr| %>
          <div class="pro-request-details">
            <div class="pro-sr"><%= link_to sr.input, song_request_path(sr) %></div>
            <div class="pro-sr"><%= link_to sr.event.name, event_path(sr.event) %></div>
          </div>
        <% end %>
        <% current_user.favorites.each do |fav| %>
          <div class="pro-sr"> <%= fav.song_request.event.location %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
