<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ANY1</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

      <section class="bg-black">
        <div class="container">
          <%= yield %>
          <div class="pagebox">
            <%= link_to "IDENTIFIED TRACKS" , library_path, :class => "id_tracks"%>
            <%= link_to "My Profile", user_profiles_path(current_user), class: "profile_nav" %>
            <%= link_to "Add a new event", new_event_path, class: "newevent_nav"%>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout_nav" %>
          </div>
        </div>
      </section>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
