<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="favicon.ico" />
    <title>ANY1</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

      <section class="bg-black">
        <div class="container">
          <%= yield %>
          <div class="pagebox">
            <%= link_to "IDENTIFIED TRACKS" , library_path, :class => "id_tracks"%>
            <%= link_to "ALL EVENTS", events_path, class: "allevents_nav" %>
            <%= link_to "ADD A NEW EVENT", new_event_path, class: "newevent_nav"%>
            <% if current_user %>
              <%= link_to "MY PROFILE", user_profiles_path(current_user), class: "profile_nav" %>
            <% end  %>
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "logout_nav" %>
          </div>
        </div>
      </section>

    <%= render partial: 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
